/******** Page Styles *****************
**************************************
*/

body{
    font-family: arial; 
    font-size: 80%; 
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 
    background: #eee;
}

#page{ 
    margin: 20px; 
}

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

/******** link Styles*****************
**************************************
*/

a{
	color: black;
	text-decoration: none;
}

a:hover, a:active{
     text-decoration: underline; 
}

/******** Navagation Bar *****************
**************************************
*/

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
		
#nav ul li{
	display: inline-block;
	height: 62px;
}
			
#nav ul li a{
	padding: 20px;
	background: orange;
	color: white;
}

#nav ul li a:hover{
	background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
}
			
#nav ul li a:active{ 
    background-color: #ff8f00; 

}

/******** Content *****************
**************************************
*/
#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#content, ul li a{ 
    box-shadow: 0px 1px 1px #999; 
}

/******** Footer*****************
**************************************
*/

footer{
	border-bottom: 1px #ffb424 solid;
	margin-bottom: 10px;
    margin: 20px;
}
	
footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
}